<!DOCTYPE html>
<html ng-app="controller" ng-controller="AngularController as ctrl">
  <head>
    <meta charset="utf-8">
    <title>tutorial9</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" ></script>
    <script src="controllers.js"></script>
      <script src='finance2.js' }></script>
  </head>
  <body>
    <div>
      <input type="checkbox" ng-model="ctrl.check"/>
      <span ng-if="ctrl.check">{{ ctrl.text }}</span>
    </div>
    <div>
      <select>
        <option ng-repeat = "c in ctrl.numbers">{{ c }}</option>
      </select>
    </div>
  </body>
</html>
