<!DOCTYPE html>
<html ng-app="todo" ng-controller="todoCtrl">
<head>
    <meta charset="utf-8">
    <title>tutorial9</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" ></script>
    <script src="todoCtrl.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <!-- 입력블록 -->
        <div class="input-form">
            <input type="text" ng-model="newList" ng-enter="createList()"/>
            <button type="button" ng-click="createList()" >등록</button>
        </div>
        <!--// 입력블록 -->
        <!-- 필터블록 -->
        <div class="filter-wrap" >
            filter :
            <label ng-repeat="(key, value) in checkLists">
                <input type="radio" name="filter" ng-click="filterLists(key)" /> {{ key }}
            </label>
        </div>
        <!--// 필터블록 -->

        <!-- 리스트블록 -->
        <ul >
            <!-- all lists -->
            <li class="all-lists" ng-repeat = "(key, value) in checkLists.all">
                <span>{{ value }}</span>
                <label>
                    <div class="checkbox-form">
                        <i class="fa fa-check" aria-hidden="true"}></i>
                        <input type="checkbox" class="list-check" ng-click="moveCard($index)" />
                    </div>
                </label>
                <button type="button"  ng-click="deleteList($index)"><i class="fa fa-times" aria-hidden="true"></i></button>
            </li>
            <!--// all lists -->
            <!-- todo list -->
            <li ng-if="listsTitle == 'active'" class="todo"  ng-repeat ="(key, value) in checkLists.active">
                <span>{{ value }}</span>
                <label >
                    <div class="checkbox-form">
                        <i  class="fa fa-check" aria-hidden="true"}></i>
                        <input type="checkbox" class="list-check" ng-click="moveCard($index)"/>
                    </div>
                </label>
                <button type="button" ng-click="deleteList($index)"><i class="fa fa-times" aria-hidden="true"></i></button>
            </li>
            <!--// todo list -->
            <!-- done list -->
            <li ng-if="listsTitle == 'done'"  class="done"  ng-repeat ="(key, value) in checkLists.done">
                <span>{{ value }}</span>
                <label >
                    <div class="checkbox-form">
                        <i  class="fa fa-check" aria-hidden="true"}></i>
                        <input type="checkbox" class="list-check" ng-click="moveCard($index)"/>
                    </div>
                </label>
                <button type="button" ng-click="deleteList($index)"><i class="fa fa-times" aria-hidden="true"></i></button>
            </li>
            <!--// done list -->
        </ul>
        <!--// 리스트블록 -->
    </div>
</body>
</html>
